<a href="https://colab.research.google.com/github/jdjones91/Coding-Dojo-Machine-Learning-Projects/blob/main/Project_2_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# James Jones
###09-29-2022

# Project 2 - Part 1
  - Finding, and vetting 2 data sets for use on Project 2
  - I will investigate both data sets to ensure they're usable for Machine Learning

In [ ]:
# Import Libraries and load data set number 1
import pandas as pd
import numpy as np

# First data set comes from Kaggle
  - https://www.kaggle.com/datasets/fedesoriano/cirrhosis-prediction-dataset?resource=download

### This data set uses physiological markers to predict the stage of patient cirrhosis. 

The target (y) is "Stage" (or cirrhosis)

This is a multi-class *Classification* problem

There are 19 Features (X) 

There are 418 rows (Approx 19 * 418 = 7,942 data points)

The biggest challenge I forsee, is dealing with missing data. 1,033 data points are 'na' making up 13% (1,033 / 7,942) of the total data, which means I will have to build imputers into my Pipelines/Transformers

## I am interested in this data set, because of my background B.S. in Emergency Medical Services. I would very much enjoy working with a healthcare company, hospital system, medical insurance company, etc. to kick off my new career.

In [ ]:
df_1 = pd.read_csv('/content/cirrhosis.csv')
df_1.head()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0

In [ ]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             418 non-null    int64
 1   N_Days         418 non-null    int64
 2   Status         418 non-null    object
 3   Drug           312 non-null    object
 4   Age            418 non-null    int64
 5   Sex            418 non-null    object
 6   Ascites        312 non-null    object
 7   Hepatomegaly   312 non-null    object
 8   Spiders        312 non-null    object
 9   Edema          418 non-null    object
 10  Bilirubin      418 non-null    float64
 11  Cholesterol    284 non-null    float64
 12  Albumin        418 non-null    float64
 13  Copper         310 non-null    float64
 14  Alk_Phos       312 non-null    float64
 15  SGOT           312 non-null    float64
 16  Tryglicerides  282 non-null    float64
 17  Platelets      407 non-null    float64
 18  Prothrombin    416 non-null    float64
 19  Stage          412 non-null    float64
dtypes: float64(10), int64(3), object(7)
memory usage: 65.4+ KB

In [ ]:
df_1.isna().sum().sum()

1033

In [ ]:
df_1.duplicated().sum()

0

# Second data set comes from Kaggle
  - https://www.kaggle.com/datasets/yasserh/housing-prices-dataset

### This data set uses home features (sqft, furnishings, bedrooms, etc) to predict the price of a home

The target (y) is "price" (home value)

This is a *Regression* Problem

There are 12 Features (X)

There are 545 rows (12 * 545 = 6,540 data points)

The biggest challenge with this data set will be encoding and scaling everything appropriately. There are Numeric, Ordinal, and Nominal data types in the set. Otherwise, this is very clean data

## I am interested in this data set, because I am looking to buy a house in the next year or two. I will take this as an opportunity to gain a better understanding of house values

In [ ]:
df_2 = pd.read_csv('/content/Housing.csv')
df_2.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [ ]:
df_2.isna().sum().sum()

0

In [ ]:
df_2.duplicated().sum()

0